{% include head.html %}

<body class="homepage">
<a href="http://www.wired.com/2014/11/indie-hosters/" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0; z-index:10;" src="images/wired.png" alt="Featured in WIRED"></a>
  {% include homepage/header.html %}
  
  {% include homepage/pitch.html %}
  
  {% include homepage/products.html %}
  
  {% include homepage/crowdfunding.html %}
  
  {% include homepage/offer.html %}
  
  {% include homepage/plan.html %}
  
  {% include homepage/become_indiehoster.html %}
  
{% include footer.html %}
