---
layout: page
---

<h2>{{ page.name }}</h2>
<p>
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="{{ page.paypal-button-id }}">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynow_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    to be hosted by {{ page.name }}.
  </form>
</p>

<p>{{ page.name }} speaks the following languages:
  <ul>
    {% for language in page.languages %}
      <li>{{ language }}</li>
    {% endfor %}
  <ul>
</p>

<h3>He offers the following applications:</h3>
{% include applications.html  %}

<p>
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="{{ page.paypal-button-id }}">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynow_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    to be hosted by {{ page.name }}.
  </form>
</p>

