<div id="applications" class="wrapper style1 before-carousel">
  <section class="container special">
    <header>
      <h2>Applications we will offer</h2>
      <p>We will offer many applications, including many unproven niche applications for which currently nobody is offering hosting. It'll be a way to explore exciting decentralized technology!</p>
    </header>
  </section>
</div>
<section class="carousel">
  <div class="reel">
    {% assign sorted_applications = (site.applications | sort: "order") %}
    {% for application in sorted_applications %}
      <article>
        <a href="{{ application.link }}" class="image featured offer" style="background-image: url({{ application.image }});">
          {{ application.icon }}
        </a>
        <header>
          <h3><a href="{{ application.link }}">{{ application.title }}</a></h3>
        </header>
        <p>{{ application.description }}</p>
      </article>
    {% endfor %}
  </div>
</section>
<div class="wrapper style1 after-carousel">
  <section class="container special">
    <header>
      <h4>If you want to stay informed about evolution of our products, please, stay in touch.</h4>
    </header>
    <footer>
      <a href="#cta" class="scrolly button">Stay in touch!</a>
    </footer>
  </section>
</div>
