<div class="wrapper style2">

  <article id="main" class="container special">
    <header>
      <h2>Our Infrastructure</h2>
      <p>
        Our infrastructure is based on <a href="https://coreos.com">CoreOS</a> a tiny linux made for massive application deployment. It contains a Linux kernel, systemd, docker and etcd, a distributed key value store.
      </p>
      <a href="https://coreos.com" class="image featured"><img src="/images/coreos.png" alt="" /></a>
    <h3>
      You can be an IndieHoster too, just clone our <strong><a href="https://github.com/{{site.github_username}}/{{site.github_username}}">github repository</a></strong>, vagrant up, and you try it out!
    </h3>
    </header>
    <footer>
      <a href="https://github.com/{{site.github_username}}/{{site.github_username}}" class="icon fa fa-github "><span class="label">GitHub</span></a>
    </footer>
  </article>

</div>
