<div class="wrapper style1">
  <section id="claim" class="container special">
    <header>
      <h2>Claim your Independence!</h2>
      <p>
        Choose your hoster and start being Independent for 8€/month.</br>
      </p>
      {% include hosters.html %}
      <p>
        After paying, you'll be contacted by your hoster to help you pick the <a href="/applications">applications</a> you need.</br>
      </p>
      <p>
        And we are real people, not a faceless corporation.
        So, for more options/questions please <a href="#contact">contact us</a> and we'll be delighted to help you figure out!
      </p>
      <p>
        If you are an organisation without much funding, contact us, we might be able to help also. We support great initiatives \o/
      </p>
      <h3>If you are still not convinced, we'd love to hear your feedback!</h3>
      <a class="scrolly button" href="#contact">Contact us!</a>
    </header>
  </section>
</div>
