<div class="wrapper style1">
  <section id="products" class="container special">
    <header>
      <h2>Products</h2>
      <p>We offer:<p>
    </header>
    <div class="row">
      {% assign sorted_products = (site.products | sort: "order") %}
      {% for product in sorted_products %}
      <article class="4u special">
        {% if product.status == "done" %}<a href="{{ product.url }}">{% endif %}
	        <div class="image featured product" style="background-image: url({{ product.image }});">
            <i class="fa {{ product.icon }}"></i>
          </div>
        {% if product.status == "done" %}</a>{% endif %}
        <header>
          {% if product.status == "done" %}
            <a href="{{ product.url }}">
              <h3>{{ product.title }}</h3>
            </a>
          {% else %}
              <h3>{{ product.title }}</h3>
              <h4>{{ product.status }}</h4>
	        {% endif %}
        </header>
        <p>
          {{ product.description }}
        </p>
      </article>
      {% endfor %}
    </div>
    <header>
      <h3>And everything for the price of 2 beers a month (8€)!*</h3>
    </header>
    <footer>
      <p>*Seriously, no little lines to read :)</p>
    </footer>
  </section>
</div>
