<div class="wrapper style1">
  <section id="features" class="container special">
    <header>
      <h2>The Product</h2>
      <p>After signing up, you'll have access to the following functionalities:</p>
    </header>
    <div class="row">
      {% for product in site.products %}
      <article class="4u special">
        <div class="image featured product" style="background-image: url({{ product.image }});">
          <i class="fa {{ product.icon }}"></i>
        </div>
        <header>
          <h3>{{ product.title }}</h3>
        </header>
        <p>
          {{ product.description }}
        </p>
      </article>
      {% endfor %}
    </div>
    <header>
      <p>And everything for a the price of a beer a week!*</p>
    </header>
    <footer>
      <p>*No seriously, no little lines to read :)</p>
    </footer>
  </section>
</div>
